<.header>
  Listing Passings
</.header>

<.table id="passing" rows={@passing_collection}>
  <:col :let={passing} label="Score"><%= passing.score %></:col>
  <:col :let={passing} label="User"><%= passing.user.email %></:col>
  <:col :let={passing} label="Quiz">
    <.link navigate={~p"/quiz_pass/#{passing.quiz.id}"}><%= passing.quiz.title %></.link>
  </:col>
</.table>
