<.header>
  New Passing
  <:subtitle>Use this form to manage passing records in your database.</:subtitle>
</.header>

<.passing_form changeset={@changeset} action={~p"/passing"} />

<.back navigate={~p"/passing"}>Back to passing</.back>
