<.header>
  New Quiz
  <:subtitle>Use this form to manage quiz records in your database.</:subtitle>
</.header>

<.quiz_form changeset={@changeset} action={~p"/quiz"} />

<.back navigate={~p"/quiz"}>Back to quiz</.back>
